<div class="container">
<div class="center"><h1>Submit a Vote</h1></div>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@vote) do |f| %>

      <%= f.label :score %>
      <%= f.text_field :score %>

     <pgit stat>
  		<%=f.input :place_id, collection: Place.all, prompt: "Select a Place"%>
	</p>
    
    <%= f.submit "Quiet", class: "btn btn-large btn-primary" %> <%= f.submit "Moderate", class: "btn btn-large btn-primary" %> <%= f.submit "Busy", class: "btn btn-large btn-primary" %>

    <% end %>

  </div>
</div>
</div>