<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container">

<div class="center"><h1>Places</h1></div>

<div class="row">
	<div id="choices">
		<% @places_and_colors.each do |place, color| %>
			<a href="\places/<%= place.id %>/60">
				<div class="choice" style="background-color:<%= color %> ;">
					<%= place.name%>
					<%= place.score %>
				</div>
			</a>
		<% end %>
	</div>
</div>

<div class="center">
	<%= link_to "add a place", '/places/new', class: "btn btn-large btn-primary" %> 
</div>
</div>