<% provide(:title, 'Add a Location') %>
<h1>Add a New Place</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@place) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.hidden_field :latitude %>
       <%= f.hidden_field :longitude %>

      <%= f.submit "Create a new location", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>

<script type="text/javascript">


document.onready = function(){
	getLatAndLong();
}


function getLatAndLong() {

navigator.geolocation.getCurrentPosition(function(position){
	var latitude = position.coords.latitude;
	var longitude = position.coords.longitude;
	var latitudeTextFeild = document.getElementById("place_latitude");
	var longitudeTextFeild = document.getElementById("place_longitude");

	latitudeTextFeild.value = latitude;
	longitudeTextFeild.value = longitude;
})
	
}
</script>