<!-- display place names, display each vote for the place -->
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>



<center>
<h1><a href="/places"> &#8592; </a><%= @place.name %></h1>
<% if @place.votes.blank? %>
	<h2>this place doesn't have any votes!</h2>
<% else %>
	<h2>Buzzy score for the past <%= @time_ago %> minutes</h2>

	<h1 style= "color:<%= @color %>; font-weight: bold;"><%= @score %></h1>

	<div id="choices">
		<div class="choice"><a href="/places/<%= @place.id %>/60">last hour</a></div>
		<div class="choice"><a href="/places/<%= @place.id %>/<%= 24*60 %>">last day</a></div>
		<div class="choice"><a href="/places/<%= @place.id %>/<%= 7*24*60 %>">last week</a></div>
	</div>

	<!--
	<h2><%= @place.name %>'s votes</h2>
	<% @place.votes.each do |vote| %>
		<li><%= vote.score %>, <%= time_ago_in_words(vote.created_at) %> ago</li>
	<% end %>
	-->

<% end %>

<%= line_chart @graphable %>

<h2>How far back to check (minutes)?</h2>
<%= form_for @place, :html => {:method => :post} do |f| %>
	<div class="text-box" style="width: 100px;"><%= text_field_tag(:time_ago) %></div>
  <%= f.submit "Check" %>
<% end %>

</center>